p {
  padding: 5px;
  margin: 5px;
  background: #a55f63ab;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(0, 255, 98);
}

.form-group {
  margin-bottom: 5px;
}
